Repository status-im/status-desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @status-im/desktop, @status-im/devops, @micieslak, @caybro, @alexjba, @noeliaSD, @status-im/desktop-qa, @status-im/desktop-wallet, @status-im/desktop-core

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default adding the desktop team to review any changes
*           @status-im/desktop
Makefile    @status-im/devops @status-im/desktop

# Any change in the ci requires approval from DevOps team
/ci/        @status-im/devops
/nix/       @status-im/devops
/scripts/   @status-im/devops
# Default qml/js code reviewers
*.qml       @micieslak @caybro @alexjba @noeliaSD
*.js        @micieslak @caybro @alexjba @noeliaSD
/storybook/ @micieslak @caybro @alexjba @noeliaSD
# Default squish tests owners
/test/e2e/  @status-im/desktop-qa

# Wallet - nim
/src/app/modules/main/wallet_section/           @status-im/desktop-wallet
/src/app_service/service/wallet_account/        @status-im/desktop-wallet
/src/app_service/service/wallet_connect/        @status-im/desktop-wallet
/src/app_service/service/transaction/           @status-im/desktop-wallet
/src/app_service/service/saved_address/         @status-im/desktop-wallet
/src/app_service/service/ramp/                  @status-im/desktop-wallet
/src/app_service/service/network/               @status-im/desktop-wallet

# Wallet - qml
/ui/app/AppLayouts/Wallet/                      @status-im/desktop-wallet @micieslak

# Messenger - nim
/src/app/modules/main/chat_section/             @status-im/desktop-core
/src/app/modules/main/communities/              @status-im/desktop-core
/src/app_service/service/activity_center/       @status-im/desktop-core
/src/app_service/service/chat/                  @status-im/desktop-core
/src/app_service/service/community/             @status-im/desktop-core
/src/app_service/service/community_tokens/      @status-im/desktop-core
/src/app_service/service/contacts/              @status-im/desktop-core
/src/app_service/service/message/               @status-im/desktop-core

fix(wallet): Hide global keypair import qr logic (#17849)
  ui/app/AppLayouts/Profile/views/wallet/MainView.qml
Owners: @micieslak, @caybro, @alexjba, @noeliaSD

fix(wallet): Hide global keypair import qr logic (#17849)
  src/app/boot/app_controller.nim
  src/app/modules/main/market_section/controller.nim
  src/app/modules/main/market_section/io_interface.nim
  src/app/modules/main/market_section/market_leaderboard_model.nim
  src/app/modules/main/market_section/module.nim
  src/app/modules/main/market_section/view.nim
  src/app/modules/main/module.nim
  src/app_service/service/market/service.nim
  src/app_service/service/market/service_items.nim
  src/backend/backend.nim
  storybook/pages/MarketFooterPage.qml
  storybook/pages/MarketLayoutPage.qml
  storybook/pages/PaginatorPage.qml
  storybook/qmlTests/tests/tst_MarketFooter.qml
  storybook/qmlTests/tests/tst_MarketLayout.qml
  storybook/qmlTests/tests/tst_Paginator.qml
  storybook/src/Models/MarketTokensModel.qml
  ui/app/AppLayouts/Market/MarketLayout.qml
  ui/app/AppLayouts/Market/controls/MarketFooter.qml
  ui/app/AppLayouts/Market/controls/MarketLoadingTokenDelegate.qml
  ui/app/AppLayouts/Market/controls/MarketTokenDelegate.qml
  ui/app/AppLayouts/Market/controls/MarketTokenHeader.qml
  ui/app/AppLayouts/Market/controls/Paginator.qml
  ui/app/AppLayouts/Market/stores/MarketStore.qml
  ui/app/AppLayouts/Market/stores/qmldir
  ui/app/AppLayouts/Profile/views/wallet/MainView.qml
  ui/app/mainui/AppMain.qml
Owners: @status-im/desktop, @micieslak, @caybro, @alexjba, @noeliaSD

fix: Update json names
  src/app_service/service/market/service_items.nim
Owners: @status-im/desktop

fix: Use mouse area for cursor (#17903)
  ui/StatusQ/src/StatusQ/Controls/StatusItemDelegate.qml
Owners: @micieslak, @caybro, @alexjba, @noeliaSD

fix(wallet): Hide global keypair import qr logic (#17849)
  src/app/boot/app_controller.nim
  src/app/modules/main/market_section/controller.nim
  src/app/modules/main/market_section/io_interface.nim
  src/app/modules/main/market_section/market_leaderboard_model.nim
  src/app/modules/main/market_section/module.nim
  src/app/modules/main/market_section/view.nim
  src/app/modules/main/module.nim
  src/app_service/service/market/service.nim
  src/app_service/service/market/service_items.nim
  src/backend/backend.nim
  storybook/pages/MarketFooterPage.qml
  storybook/pages/MarketLayoutPage.qml
  storybook/pages/PaginatorPage.qml
  storybook/qmlTests/tests/tst_MarketFooter.qml
  storybook/qmlTests/tests/tst_MarketLayout.qml
  storybook/qmlTests/tests/tst_Paginator.qml
  storybook/src/Models/MarketTokensModel.qml
  ui/app/AppLayouts/Market/MarketLayout.qml
  ui/app/AppLayouts/Market/controls/MarketFooter.qml
  ui/app/AppLayouts/Market/controls/MarketLoadingTokenDelegate.qml
  ui/app/AppLayouts/Market/controls/MarketTokenDelegate.qml
  ui/app/AppLayouts/Market/controls/MarketTokenHeader.qml
  ui/app/AppLayouts/Market/controls/Paginator.qml
  ui/app/AppLayouts/Market/stores/MarketStore.qml
  ui/app/AppLayouts/Market/stores/qmldir
  ui/app/mainui/AppMain.qml
Owners: @status-im/desktop, @micieslak, @caybro, @alexjba, @noeliaSD

fix: Use mouse area for cursor (#17903)
  ui/StatusQ/src/StatusQ/Controls/StatusItemDelegate.qml
Owners: @micieslak, @caybro, @alexjba, @noeliaSD

fix: Update json names
  src/app_service/service/market/service_items.nim
Owners: @status-im/desktop

fix(@desktop/wallet): Wallet: Send Modal errors and misbehaviour with Qt6
  ui/app/AppLayouts/Wallet/adaptors/TokenSelectorViewAdaptor.qml
  ui/app/AppLayouts/Wallet/controls/TokenSelector.qml
  ui/app/AppLayouts/Wallet/panels/StickySendModalHeader.qml
  ui/app/AppLayouts/Wallet/popups/simpleSend/SimpleSendModal.qml
  ui/app/mainui/AppMain.qml
Owners: @status-im/desktop-wallet, @micieslak, @caybro, @alexjba, @noeliaSD

tests(@qml): add test for OwnerTokenWelcomeView
  storybook/qmlTests/tests/tst_OwnerTokenWelcomeView.qml
  ui/StatusQ/src/StatusQ/Components/StatusInfoBoxPanel.qml
  ui/app/AppLayouts/Communities/panels/MintTokensSettingsPanel.qml
  ui/app/AppLayouts/Communities/views/MintedTokensView.qml
  ui/app/AppLayouts/Communities/views/OwnerTokenWelcomeView.qml
Owners: @micieslak, @caybro, @alexjba, @noeliaSD
