Repository status-im/status-desktop, pull requests merged in 2022-12, with the labels that each got.

#8514 fix(ActivityCenter): Get rid of DelegateChooser in ActivityCenterPopop
  ui/app/mainui/activitycenter/popups/ActivityCenterPopup.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationBase.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationCommunityInvitation.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationCommunityKicked.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationCommunityMembershipRequest.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationCommunityRequest.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationContactRequest.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationMention.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationMessage.qml
  ui/app/mainui/activitycenter/views/ActivityNotificationReply.qml
Labels: tested

#8482 feat(communities): allow community import via public key
  src/app/modules/main/communities/controller.nim
  src/app/modules/main/communities/io_interface.nim
  src/app/modules/main/communities/module.nim
  src/app/modules/main/communities/view.nim
  src/app/modules/main/io_interface.nim
  src/app/modules/main/module.nim
  src/app/modules/main/view.nim
  src/app_service/service/community/async_tasks.nim
  src/app_service/service/community/service.nim
  ui/app/AppLayouts/Chat/stores/RootStore.qml
  ui/app/AppLayouts/Chat/views/ContactsColumnView.qml
  ui/app/AppLayouts/CommunitiesPortal/stores/CommunitiesStore.qml
  ui/imports/shared/popups/ImportCommunityPopup.qml
  ui/imports/utils/Utils.qml
Labels: tested

#8700 ci: show output from xcrun_altool on notarize error
  scripts/notarize-macos-pkg.sh
Labels: macos, ci, security

#8696 fix(Settings): cant switch off sounds for notifications
  ui/app/AppLayouts/stores/RootStore.qml
  ui/app/mainui/AppMain.qml
  ui/imports/shared/stores/RootStore.qml
  ui/imports/utils/Audio.qml
Labels: tested

#8688 fix(CommunitySettings): Previous page navigations are broken in community settings sections
  ui/app/AppLayouts/Chat/layouts/SettingsPageLayout.qml
  ui/app/AppLayouts/Chat/panels/communities/CommunityOverviewSettingsPanel.qml
  ui/app/AppLayouts/Chat/panels/communities/CommunityPermissionsSettingsPanel.qml
  ui/app/AppLayouts/Chat/views/CommunitySettingsView.qml
Labels: bug, Communities

#8766 fix(CommunityPermissions): Change `Flickable` to `StatusScrollView`
  ui/app/AppLayouts/Chat/views/communities/CommunityNewPermissionView.qml
  ui/app/AppLayouts/Chat/views/communities/CommunityPermissionsView.qml
  ui/app/AppLayouts/Chat/views/communities/CommunityWelcomePermissionsView.qml
Labels: bug, Communities

#8756 Feat/8572/new messages marker
  src/app/modules/main/chat_section/chat_content/chat_details.nim
  src/app/modules/main/chat_section/chat_content/controller.nim
  src/app/modules/main/chat_section/chat_content/io_interface.nim
  src/app/modules/main/chat_section/chat_content/messages/controller.nim
  src/app/modules/main/chat_section/chat_content/messages/io_interface.nim
  src/app/modules/main/chat_section/chat_content/messages/module.nim
  src/app/modules/main/chat_section/chat_content/messages/view.nim
  src/app/modules/main/chat_section/chat_content/module.nim
  src/app/modules/main/chat_section/chat_content/view.nim
  src/app/modules/main/chat_section/module.nim
  src/app/modules/shared_models/message_item.nim
  src/app/modules/shared_models/message_model.nim
  src/app_service/common/network_constants.nim
  src/app_service/common/types.nim
  src/app_service/service/message/service.nim
  src/backend/messages.nim
  ui/app/AppLayouts/Chat/stores/MessageStore.qml
  ui/app/AppLayouts/Chat/views/ChatMessagesView.qml
  ui/imports/shared/views/chat/MessageView.qml
  ui/imports/shared/views/chat/NewMessagesMarker.qml
  ui/imports/shared/views/chat/qmldir
  ui/imports/utils/Constants.qml
Labels: tested

#8823 feat(CommunitySettings): Implement UI for`edit`, `duplicate` and `remove` actions in community permissions page
  storybook/pages/CommunityPermissionsSettingsPanelPage.qml
  storybook/pages/CommunityPermissionsViewPage.qml
  ui/app/AppLayouts/Chat/controls/community/PermissionItem.qml
  ui/app/AppLayouts/Chat/layouts/SettingsPageLayout.qml
  ui/app/AppLayouts/Chat/panels/communities/CommunityPermissionsSettingsPanel.qml
  ui/app/AppLayouts/Chat/stores/CommunitiesStore.qml
  ui/app/AppLayouts/Chat/views/communities/CommunityNewPermissionView.qml
  ui/app/AppLayouts/Chat/views/communities/CommunityPermissionsView.qml
Labels: ui, Communities, feature, E:Communities

#8845 test(tst_userIdentity): Fix test scenarios broken due to new user profile design
  test/ui-test/src/drivers/SquishDriverVerification.py
  test/ui-test/src/screens/SettingsScreen.py
  test/ui-test/src/screens/StatusMainScreen.py
  test/ui-test/testSuites/global_shared/scripts/bdd_hooks.py
  test/ui-test/testSuites/global_shared/scripts/decorators.py
  test/ui-test/testSuites/global_shared/scripts/global_names.py
  test/ui-test/testSuites/global_shared/scripts/settings_names.py
  test/ui-test/testSuites/global_shared/steps/commonInitSteps.py
  test/ui-test/testSuites/global_shared/steps/settingsSteps.py
  test/ui-test/testSuites/suite_onboarding/shared/steps/signUpSteps.py
  test/ui-test/testSuites/suite_settings/shared/scripts/names.py
  test/ui-test/testSuites/suite_settings/tst_userIdentity/bdd_hooks.py
  test/ui-test/testSuites/suite_settings/tst_userIdentity/test.feature
  test/ui-test/testSuites/suite_settings/tst_userIdentity/test.py
  ui/StatusQ/src/StatusQ/Popups/Dialog/StatusHeaderActions.qml
  ui/imports/shared/views/ProfileDialogView.qml
Labels: squish

#8803 feat(@desktop/wallet): Send modal update
  src/app/modules/main/profile_section/ens_usernames/io_interface.nim
  src/app/modules/main/profile_section/ens_usernames/module.nim
  src/app/modules/main/profile_section/ens_usernames/view.nim
  src/app_service/service/transaction/async_tasks.nim
  src/app_service/service/transaction/dto.nim
  ui/StatusQ/src/StatusQ/Controls/StatusBaseInput.qml
  ui/app/AppLayouts/Profile/stores/EnsUsernamesStore.qml
  ui/imports/shared/controls/AmountInputWithCursor.qml
  ui/imports/shared/controls/GasSelector.qml
  ui/imports/shared/panels/StatusAssetSelector.qml
  ui/imports/shared/popups/SendModal.qml
  ui/imports/shared/stores/TransactionStore.qml
  ui/imports/shared/views/AmountToReceive.qml
  ui/imports/shared/views/AmountToSend.qml
  ui/imports/shared/views/FeesView.qml
  ui/imports/shared/views/NetworkSelector.qml
  ui/imports/shared/views/NetworksAdvancedCustomRoutingView.qml
  ui/imports/shared/views/NetworksSimpleRoutingView.qml
  ui/imports/utils/Utils.qml
Labels: tested
